
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a href="#">My App</a>
      <!-- <div class="outer">
        <div class="inner">
          <label>Back</label>
        </div>
      </div> -->
      </header>
    <ul class="nav">
      <li>
        <a routerLink="/accueildashboard" routerLinkActive="active">
          <i class="zmdi zmdi-view-dashboard mt-5   "></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/gestioncompetence" routerLinkActive="active">
          <i class="zmdi zmdi-link-mt"></i> Competence
        </a>
      </li>
      <li>
        <a routerLink="/gestionexperience" routerLinkActive="active">
          <i class="zmdi zmdi-widgets"></i> Experience
        </a>
      </li>
      <li>
        <a routerLink="/gestionprojet" routerLinkActive="active">
          <i class="zmdi zmdi-calendar"></i> Projet
        </a>
      </li>
      
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <!-- <li><a href="#">Test User</a></li> -->
        </ul>
      </div>
    </nav>
    <!-- <div class="container-fluid">
      <h1>Simple Sidebar</h1>
      <p>
        Make sure to keep all page content within the 
        <code>#content</code>.
      </p>
    </div> -->
  </div>
</div>